:root {
    --primary-color: #000;
    --font-primary-color: #fff;
    --gradient-primary: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    --bg-1: rgba(155, 155, 155, 0.2);
    --g-color: #888;
    --b-color: #212121;
    --accent-color: rgba(252, 70, 107, 1);
    --accent-color-2: rgba(63, 94, 251, 1);

    --accent-color-low: #fc6584;
    --accent-color-mlow: #fc728e;

    --accent-color-2-low: #647dfa;
    --accent-color-2-mlow: #7087fa;

    --bg-rgw-1: rgba(255, 255, 255, 0.1);
    --bg-rgw-2: rgba(255, 255, 255, 0.2);
    --bg-rgw-3: rgba(255, 255, 255, 0.3);
    --bg-rgw-4: rgba(255, 255, 255, 0.4);

    --bg-rgbl-2: rgba(0, 0, 0, 0.2);
    --bg-rgbl-3: rgba(0, 0, 0, 0.3);
    --bg-rgbl-4: rgba(0, 0, 0, 0.4);
    --bg-rgbl-5: rgba(0, 0, 0, 0.5);
    --bg-rgbl-6: rgba(0, 0, 0, 0.6);
    --bg-rgbl-7: rgba(0, 0, 0, 0.7);
    --bg-rgbl-8: rgba(0, 0, 0, 0.8);

    --bg-error: #ff8080;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
button,
span,
.custom-select {
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--font-primary-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.flx {
    display: flex;
}

.flx-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flx-inline {
    display: inline-flex;
}

.flx-i-center {
    justify-content: center;
    align-items: center;
}

.container-main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.hero {
    margin: 70px 0 0 0;
    width: 100%;
    height: 300px;
    background-color: var(--bg-1);
    border-radius: 30px;
    text-align: center;
}

.ff-cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.gradient-tx {
    font-size: 4.5em;
    background: var(--gradient-primary);
    background-size: 200% auto;
    color: transparent;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
    animation: wave 2s linear infinite;
}

.gradient-stx {
    font-size: 2em;
    background: var(--gradient-primary);
    background-size: 100% auto;
    color: transparent;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes wave {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200% center;
    }
}

button.circle-btn {
    border: none;
    outline: 0;
    font-family: inherit;
}

.circle-btn {
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 25px;
    border: none;
}

.circle-btn:hover {
    box-shadow: 0 2px 5px var(--g-color);
}

.circle-btn::after {
    display: block;
    top: 55px;
    position: absolute;
    content: attr(tooltip);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.circle-btn:hover::after {
    opacity: 1;
}

.circle-btn:active {
    transform: scale(0.9);
}

.cont {
    background-color: var(--bg-1);
    border-radius: 30px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mb-8 {
    margin-bottom: 80px;
}

.tx-center {
    text-align: center;
}

.ct-pad-20 {
    padding: 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-inf {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--bg-rgw-3);
}

.card-inf .title-card {
    width: 100%;
    background: var(--accent-color-2);
    text-align: center;
    padding: 8px 0 8px 0;
}

.card-inf .content-card {
    padding: 10px;
}

.cl-content {
    width: 100%;
}

.cl-content img {
    width: 50px;
    height: auto;
    transform: scale(0.6);
}

.cl-content span {
    display: block;
    text-align: center;
}

.cl-content .cl-content-radimg {
    transition: box-shadow 0.2s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    background-color: var(--bg-rgw-3);
}

.cl-content .cl-content-radimg:hover {
    box-shadow: 0 2px 5px var(--g-color);
}

.grid-display {
    width: 100%;
    display: grid;
}

.gr-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.gr-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}

.gr-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.card-pr {
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid var(--g-color);
}

.card-pr-imgcontent {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.2s;
}

.card-pr-imgcontent:hover {
    transform: scale(1.05);
}

.content-img {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-rgw-2);
}

.content-img .content-badge {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.content-img .content-badge .badge {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    margin: 2px;
    background-color: var(--bg-rgbl-6);
    border-radius: 30px;
}

.content-img .content-badge .badge-g {
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    margin: 2px;
    background-color: var(--accent-color-2);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: box-shadow 0.2s;
}

.content-img .content-badge .badge-g:hover {
    box-shadow: 0 2px 5px var(--bg-rgw-4);
}

.card-pr .card-pr-title {
    padding: 8px;
    background-color: var(--accent-color);
    text-align: center;
}

.card-pr .card-pr-desc {
    padding: 10px;
    font-size: 0.9em;
    text-align: justify;
}

.go-top {
    cursor: pointer;
    position: fixed;
    transform: scale(0);
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: var(--accent-color-2);
    color: #fff;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    border: 1px solid var(--bg-rgw-3);
    border-radius: 25px;
    z-index: 100;
}

.go-top:hover {
    background-color: var(--accent-color-2-low);
    box-shadow: 0 2px 5px var(--bg-rgw-4);
}

.transcale {
    transform: scale(1);
}

.nav-bar-m {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--bg-rgw-2);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid var(--bg-rgw-3);
}

.nav-bar-m .badge {
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    background-color: var(--bg-rgbl-6);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-family: inherit;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.nav-bar-m .badge:hover {
    background-color: var(--bg-rgbl-7);
    box-shadow: 0 2px 5px var(--bg-rgw-3);
}

.nav-bar-m .badge:active {
    background-color: var(--bg-rgbl-8);
}

.flx-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--bg-rgbl-4);
    color: #fff;
    border: none;
    display: none;
    transition: background-color 0.2s;
}

.btn-menu:hover {
    background-color: var(--bg-rgbl-2);
}

/* Overlay */

.overlay-m {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3000;
    animation: over-m 0.2s linear;
}

.overlay-anim {
    animation: over-o 0.2s linear;
}

@keyframes over-m {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes over-o {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.overlay-m .card-contact {
    width: 90%;
    max-width: 600px;
    border: 1px solid var(--bg-rgw-2);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--b-color);
    box-shadow: 0 2px 5px var(--bg-rgw-2);
    animation: fromin 0.2s;
}

@keyframes fromin {
    from {
        opacity: 0;
        transform: scale(0.90);
    }

    to {
        opacity: 1;
        transform: scale(1.0);
    }
}

.card-contact .card-contact-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 0 0 20px;
    background-color: var(--accent-color-2);
    border-bottom: 1px solid var(--bg-rgw-2);
    font-size: 1.2em;
}

.card-contact-title .card-close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 60px;
    height: 50px;
    border: none;
    background: transparent;
    color: #fff;
    transition: background-color 0.2s;
}

.card-contact-title .card-close:hover {
    background-color: var(--bg-rgbl-2);
}


.card-contact .card-contact-content {
    height: 100%;
    overflow: auto;
    padding: 20px;
}

/* Form contact */

.form-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2;
}

.card-contact input::placeholder,
.card-contact textarea::placeholder {
    color: var(--g-color)
}

.card-contact input,
.card-contact textarea {
    outline: none;
    font-family: inherit;
    padding: 12px;
    border: none;
    border: 1px solid var(--bg-rgw-4);
    background: transparent;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.2s;
    border-radius: 15px;
}

.card-contact textarea {
    resize: none;
}

.card-contact input:focus,
.card-contact textarea:focus {
    border-color: var(--accent-color-2-low);
}

label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.btn-submit {
    padding: 12px;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 15px;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-submit:hover {
    background-color: var(--accent-color-low);
}

.card-contact .tx-pad {
    text-align: center;
    padding: 0 0 20px 0;
}

.card-contact small {
    display: block;
    padding: 5px 10px 5px 10px;
    color: var(--bg-error);
}

/* Select */

.custom-select {
    position: relative;
    user-select: none;
}


.selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: inherit;
    padding: 12px;
    border: none;
    border: 1px solid var(--bg-rgw-4);
    background: transparent;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.2s;
    border-radius: 15px;
    transition: background-color 0.2s;
}

.selected:hover {
    background-color: var(--bg-rgw-1);
}

.arrow {
    transition: transform 0.3s;
    font-size: 1rem;
}

.custom-select.open .arrow {
    transform: rotate(180deg);
    /* ▲ */
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--bg-rgw-4);
    border-top: none;
    position: absolute;
    width: 100%;
    background: var(--b-color);
    z-index: 10;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid var(--bg-rgw-4);
    border-radius: 0 0 15px 15px;
}

.options::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.options::-webkit-scrollbar-track {
    margin: 10px 0 10px 0;
    /* color of the tracking area */
}

.options::-webkit-scrollbar-thumb {
    background-color: var(--bg-rgw-3);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

.options li {
    padding: 0.7rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid var(--bg-rgw-2);
}

.options li:hover {
    background-color: var(--bg-rgw-1)
}

.custom-select.open .options {
    display: block;
}

.custom-select.open .selected {
    border-radius: 15px 15px 0 0;
    border-bottom: none;
}

.bcolor {
    background-color: var(--b-color) !important;
}

/* Loader */

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-color);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}


/* Responsive */

@media screen and (max-width: 768px) {
    .content-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .resp-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-menu {
        display: block;
    }

    .nav-bar-m {
        display: block;
    }

    .flx-menu {
        transition: all 0.2s;
        position: absolute;
        width: 50%;
        left: -100%;
        flex-direction: column;
        align-items: start;
        background-color: var(--bg-rgbl-6)
    }

    .flx-menu .badge {
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 10px 20px 10px 20px;
    }

    .card-contact {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px !important;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: 1 / -1;
    }

    .btn-submit {
        margin-bottom: 3rem;
    }

}

@media screen and (max-width: 480px) {
    .content-grid {
        grid-template-columns: 1fr;
    }

    .resp-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .resp-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-menu {
        display: block;
    }

    .nav-bar-m {
        display: block;
    }

    .flx-menu {
        transition: all 0.2s;
        position: absolute;
        width: 100%;
        left: -100%;
        flex-direction: column;
        align-items: start;
        background-color: var(--bg-rgbl-6)
    }

    .flx-menu .badge {
        width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 10px 20px 10px 20px;
    }

    .card-contact {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px !important;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: 1 / -1;
    }

    .btn-submit {
        margin-bottom: 3rem;
    }

}